@charset "UTF-8";

.carousel-control-prev, .carousel-control-next {
    opacity: 0;
}

#wrap{
	width:1200px;
	margin:0 auto;
}

section {
	width:1200px;
}

section > .main {
	width:300px;
}
.main > .rogo {
	height:120px;
}
.main > .menu {
	height:450px;
}

section > .content {
	width:900px;
}

.content > .pic {
	height:400px;
}

.content > .menu-title {
	height:150px;
}


.writer > .article1 {
	height:400px;
}

.writer > .article2 {
	height:400px;
}

.section > .footer {
	height:50px;
}

.main-contents > .animal {
    margin-top:30px;
    width:300px;
}
