<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper name="com.cona.mungnyang.inquiry.repository.InquiryRepository">

	<insert id="insertInquiry" parameterType="map">
		INSERT INTO
			`inquiry`
		(
			`userId`
			, `title`
			, `content`
		)
		VALUES
		(
			#{userId}
			, #{title}
			, #{content}
		)
	</insert>
	
	

</mapper>