<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cona.mungnyang.inquiry.repository.InquiryRepository">

	<insert id="insertInquiry" parameterType="map">
		INSERT INTO
			`inquiry`
		(
			`userId`
			, `title`
			, `content`
		)
		VALUE
		(
			#{userId}
			, #{title}
			, #{content}
		)
	</insert>
	
	<select id="selectInquiryList" parameterType="int"
		resultType="com.cona.mungnyang.inquiry.domain.Inquiry">
		SELECT
			`id`
			, `userId`
			, `title`
			, `content`
			, `comment`
			, `createdAt`
			, `updatedAt`
		FROM
			`inquiry`
		WHERE
			`userId` = #{userId}
		ORDER BY
			`id` ASC;
	
	</select>
	
	<select id="selectInquiry" parameterType="int"
		resultType="com.cona.mungnyang.inquiry.domain.Inquiry">
		SELECT
			`id`
			, `userId`
			, `title`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`inquiry`
		WHERE
			`id` = #{id}
	
	</select>
	

</mapper>