@charset "UTF-8";

#wrap{
	width:1200px;
	margin:0 auto;
}

section {
	width:1200px;
	height:820px;
}

section > .main {
	width:300px;
}
.main > .rogo {
	height:150px;
}
.main > .menu {
	height:400px;
}

section > .content {
	width:900px;
}

.content > .pic {
	height:400px;
}
.content > .writer {
	height:400px;
}
.section > .footer {
	height:100px;
}