@charset "UTF-8";

.carousel-control-prev, .carousel-control-next {
    opacity: 0;
}

#wrap{
	width:1200px;
	margin:0 auto;
}

section {
	width:1200px;
}

section > .main {
	width:300px;
}
.main > .rogo {
	height:120px;
}
.main > .menu {
	height:450px;
}

section > .content {
	width:900px;
}

.content > .pic {
	height:400px;
}

.content > .menu-title {
	height:150px;
}

.content > .writer {
	height:300px;
}

.writer > .article1 {
	height:400px;
}

.writer > .article2 {
	height:400px;
}
.writer > .input-box {
	width:450px;
	height:400px;
}

.writer > .list-box {
	width:550px;
	height:400px;
}

.section > .footer {
	height:50px;
}

